@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.how-to-container {
  width: 45%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.profile-container {
  width: 45%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-form {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.return-to-login {
  margin-bottom: 20px;
}

.return-link {
  text-decoration: none;
  color: #007BFF;
}

.profile-section-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.profile-section-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.profile-section-item label {
  margin-bottom: 5px;
  font-size: 1rem;
}

.profile-section-item input {
  width: 100%;
}

.profile-section-item input::placeholder {
  font-size: 1.2rem;
  color: #888;
}

.submit-button {
  margin-top: 20px;
  padding: 12px;
  font-family: 'Montserrat', sans-serif;
  background-color: #4c5156;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .profile-container, .how-to-container {
    width: 90%;
    padding: 10px;
  }

  .section-item {
      flex-basis: 100%;
      gap: 5px;
  }

  .submit-button {
    margin-top: 10px;
  }
}