.how-to-container {
  margin: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  overflow-y: auto;
  height: 90vh;
}

.return-to-login {
  margin-bottom: 20px;
}

.return-link {
  text-decoration: none;
  color: #007BFF;
}

.section-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
}

.section-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.section-item label {
  margin-bottom: 5px;
  font-size: 1rem;
}

.section-item input {
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .how-to-container {
      margin: 10px;
  }

  .section-item {
      flex-basis: 100%;
  }
}