/* Profile.jsx */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.profile-container {
    width: 100%;
    max-width: 600px;
    min-width: 280px;
    margin: 0 auto;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.profile-form {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.return-to-login {
    margin-bottom: 20px;
}

.return-link {
    text-decoration: none;
    color: #007BFF;
}

.profile-section-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.profile-section-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.profile-section-item label {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.profile-section-item input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-section-item input::placeholder {
    font-size: 1.2rem;
    color: #888;
}

.submit-button {
    margin-top: 20px;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #4c5156;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {

    .profile-container {
        width: 90%;
        padding: 15px;
        height: auto;
    }

    .profile-form {
        gap: 10px;
    }

    .profile-section-item {
        padding: 8px 0;
    }

    .submit-button {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .profile-container {
        padding: 10px;
    }

    .profile-section-item input {
        font-size: 0.9rem;
    }

    .submit-button {
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media (min-height: 800px) {
    .profile-container {
        height: 85vh;
    }

    .profile-form {
        gap: 20px;
    }
}