@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom left, black, #393838);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#logo-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #b9b9b9;
    text-align: center;
    margin-bottom: 10px;
}

.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 4rem;
    color: rgb(121, 120, 120);
    cursor: pointer;
    padding-left: 10px;
    position: absolute;
    right: 40px;
    top: 70%;
    transform: translateY(-50%);
}

.arrow-button:hover {
    color: white;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.email-input {
    width: 40%;
    padding: 20px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: white;
    text-align: center;
    outline: none;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.email-input::placeholder {
    color: lightgrey;
    opacity: 0.7;
}

.email-input:focus {
    border-bottom: 1px solid white;
}

.terms-and-conditions {
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-bottom: 5vh;
}

.terms-and-conditions p {
    font-size: 0.75rem;
    color: #b9b9b9;
}

.terms-link {
    color: #b9b9b9;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.terms-link:hover {
    border-bottom: 1px solid #b9b9b9;
}
