/* BottomNavBar.jsx, TopNavBar.jsx */
.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.bottom-navbar {
  height: 200px;
  position: relative;
}

.top-scrollable-nav,
.bottom-scrollable-nav {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 20px;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.top-scrollable-nav {
  top: 0;
  padding-top: 10px;
  align-items: flex-start;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.bottom-scrollable-nav {
  bottom: 0;
  height: 200px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  display: flex;
  overflow: visible;
}

.top-nav-icon {
  width: auto;
  height: 50px;
  margin: 0 15px;
  padding: 10px;
  opacity: 50%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1001;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-label {
  display: none;
  position: absolute;
  bottom: -30px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1002;
}

.nav-item:hover .nav-label {
  display: block;
}

.bottom-nav-icon {
  width: auto;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 15px;
  opacity: 50%;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  z-index: 1003;
}

.top-nav-icon:hover {
  transform: scale(1.5);
  opacity: 100%;
  z-index: 1002;
}

.bottom-nav-icon:hover {
  transform: scale(2.0) translateY(-30px);
  opacity: 100%;
  z-index: 1002;
}

.bottom-nav-icon-red {
  height: 125px;
}

.bottom-nav-icon-red:hover {
  filter: invert(42%) sepia(150%) saturate(10000%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

.top-navbar:hover,
.bottom-navbar:hover {
  height: auto;
}

.scrollable-nav::-webkit-scrollbar {
  display: none;
}

.mainmenu-container {
  position: relative;
}

.mainmenu-submenu {
  position: fixed;
  top: 100px;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: space-evenly;
  z-index: 1001;
  padding: 10px;
  width: 100vw;
}

.mainmenu-submenu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
}

.mainmenu-submenu a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {

  .top-nav-icon,
  .bottom-nav-icon {
    height: 30px;
  }

  .bottom-nav-icon-red {
    height: 70px;
  }

  .nav-item:hover .nav-label {
    font-size: 0.8rem;
  }

  .top-scrollable-nav,
  .bottom-scrollable-nav {
    padding: 0 10px;
  }

  .mainmenu-submenu a {
    font-size: 1rem;
    padding: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .top-nav-icon,
  .bottom-nav-icon {
    height: 40px;
  }

  .bottom-nav-icon-red {
    height: 80px;
  }

  .nav-item:hover .nav-label {
    font-size: 0.95rem;
  }
}