.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(50, 50, 50, 0.6), rgba(90, 90, 90, 0.6)); /* Semi-transparent grey gradient */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    z-index: 10;
  }
  
  /* Hamburger menu button */
  .menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px; /* Adjust based on the height of the lines */
    width: 30px;
  }
  
  .menu-icon span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: white; /* Change to fit your color scheme */
    border-radius: 2px;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Optional: Menu icon hover effect */
  .menu-icon:hover span {
    background-color: lightgrey;
  }